.footer {
	padding: 0 0 1.25rem 0;
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		border-radius: 0.9375rem;

		background: #2b2b38;
		color: #fff;
		padding: 1.87rem 1.56rem;
		@media (min-width: $md5) {
			padding: 1.87rem;
		}
		@media (min-width: $md3) {
			padding: 3.12rem;
		}
	}
	// .footer__top
	&__top {
		display: flex;
		flex-direction: column;
		@media (min-width: $md3) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	// .footer__top-main
	&__top-main {
	}
	// .footer__logo
	&__logo {
		max-width: 12.3rem;
		@media (min-width: $md3) {
			max-width: 10rem;
		}
		display: block;
		& img {
			width: 100%;
		}
	}
	// .footer__tagline
	&__tagline {
		font-size: 0.8125rem;
		line-height: 130%;
		max-width: 12.3125rem;
		margin-top: 0.8rem;
		@media (min-width: $md3) {
			margin-top: 1.25rem;
		}
	}
	// .footer__menu
	&__menu {
		margin-top: 1.88rem;
		@media (min-width: $md3) {
			margin-top: 0;
		}
	}
	// .footer__menu-list
	&__menu-list {
		display: flex;
		font-weight: 500;
		line-height: 130%;
		font-size: 1rem;
		flex-direction: column;
		gap: 1.45rem;
		@media (min-width: $md5) {
			gap: 1.2rem;
			flex-wrap: wrap;
			flex-direction: row;
		}
		@media (min-width: $md3) {
			gap: 1.88rem;
			justify-content: flex-end;
			font-size: 1.125rem;
		}
	}
	// .footer__menu-item
	&__menu-item {
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .footer__name
	&__name {
		margin-top: 3rem;
		@media (min-width: $md5) {
			margin-top: 3.25rem;
		}
		@media (min-width: $md3) {
			margin-top: 5rem;
		}
	}
	// .footer__info
	&__info {
		line-height: 155%;
		font-size: rem(13);
		color: rgba(255, 255, 255, 0.35);
		@media (min-width: $md5) {
			font-size: 0.8125rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.44rem;
			}
		}
		margin-top: 1.75rem;
		@media (min-width: $md3) {
			margin-top: 1.44rem;
		}
	}
	// .footer__bottom
	&__bottom {
		margin-top: 1.44rem;
		border-top: rem(1) solid #454550;
		color: rgba(255, 255, 255, 0.35);
		font-size: 0.8125rem;
		line-height: 155%;
		display: flex;
		flex-direction: column;
		padding-top: 1.56rem;
		gap: 0.94rem;
		@media (min-width: $md3) {
			padding-top: 1.44rem;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
	}
	// .footer__copy
	&__copy {
		order: 1;
		@media (min-width: $md3) {
			order: 0;
		}
	}
	// .footer__privacy
	&__privacy {
		order: -1;
		@media (min-width: $md3) {
			margin-right: 5rem;
			order: 0;
		}
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .footer__prod
	&__prod {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}
